body {
  font-family: "Courier New", Courier, monospace;
  background-color: #111;
  margin: 0;
}

body>div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #444;
}

header {
  width: 100%;
}

a {
  font-size: 0.75em;
  text-decoration: none;
  color: #ccc;
  padding: 0.1em;
}

svg {
  cursor: crosshair;
}
